.header{
    padding-top: 30px;
    height: 80px;
}

.header a{
    text-decoration: none;
}

.mainLogo{
    font-size: 30px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}